#root {
  max-width: 1280px;
  margin: 0 auto;

}

.header {
  height: 10vh;
}

.game {
  height: 80vh;
  border: 2px solid yellow;
}

.cardContainer {
  display: flex;
  margin: auto;
  border: 2px solid green;
}

.footer {
  height: 10vh;
}

